---
import Carousel from "@/components/home/capacitaciones-carousel.astro";
import CapacitacionComponent from "@/components/capacitacion/index.astro";
import Layout from "@/layouts/Layout.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const capacitaciones = await getCollection("capacitaciones");
  const slugs = capacitaciones.map((capacitacion) => ({
    params: { slug: capacitacion.slug },
    props: { capacitacion },
  }));

  return slugs.map((item) => item);
}

const { capacitacion } = Astro.props;
const { Content } = await render(capacitacion);
---

<Layout>
  <main class="min-h-screen bg-gray-100 py-14">
    <CapacitacionComponent capacitacion={capacitacion} Content={Content} />
    <div class="container mx-auto mt-16">
      <div class="px-10">
        <h5 class="text-4xl font-bold mb-5">Mas historias</h5>
        <p>
          Conoce otros capacitaciones sobre el estado de situación de las mujeres
          periodistas en Argentina.
        </p>
      </div>
      <Carousel except={capacitacion.slug} />
    </div>
  </main>
</Layout>
