---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full bg-primary-900">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-white p-16 rounded-3xl text-primary-900"
    >
      Los <b> principales autores </b> de las distintas formas violencia son, mayormente,
      <b>varones con jerarquía superior en los medios,</b> seguido por <b>
        compañeros de trabajo y funcionarios públicos.</b
      >
      En el caso de la <b> violencia en línea,</b> los <b> particulares </b> tienen
      un rol más destacado, aunque los superiores jerárquicos y funcionarios siguen
      siendo relevantes.
    </p>
    <Globe />
  </div>
</section>
