<section>
    <p class="text-2xl w-10/12 m-auto">
        Los principales autores de los distintos tipos y modalidades de violencias son en mayor medida, aunque con diversa incidencia: un varón con jerarquía superior en el medio de comunicación, compañero del medio y funcionario y/o empleado público. En la única violencia que toma mayor relevancia el particular es en la violencia en línea, sin embargo, siguen teniendo un rol relevante superiores jerárquicos y funcionarios y/o empleados públicos.
    </p>

</section>