---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <p
      class="lg:text-2xl w-10/12 m-auto bg-primary-900 p-16 rounded-3xl text-white"
    >
      Los <b>principales autores</b> de las distintas formas violencia son, mayormente,
      <b>varones con jerarquía superior en los medios</b>, seguido por <b
        >compañeros de trabajo</b
      > y <b>funcionarios públicos</b>. Aunque con la <b>violencia en línea</b>,
      los <b>particulares</b> tienen un rol más destacado, aunque los superiores
      jerárquicos y funcionarios siguen siendo relevantes.
    </p>
    <Globe />
  </div>
</section>
