---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full bg-white-900">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left p-16 rounded-3xl border-4 border-primary-900"
    >
    Las violencias sufridas por las mujeres periodistas <b>tienen un gran impacto en su salud y desarrollo profesional</b>. 
    La mayoría mencionó un fuerte efecto en su salud (205 casos), especialmente en la salud mental (126 casos). <br />
    <b>También</b> se destacó el impacto en el desarrollo profesional (144 casos), 
    <b>con consecuencias como censura, amenazas, renuncias y despidos (53 casos).</b>
    </p>
  </div>
</section>
