---
import Content from "./content.astro";
import Momentos from "./momentos.astro";
import Violencia from "./violencia.astro";
import Autor from "./autor.astro";
import Impacto from "./impacto.astro";
import Content2 from "./content2.astro";
---

<section>
  <section>
    <div>
      <h2 class="text-5xl">Violencia a mujeres periodistas en Argentina</h2>
      <p class="text-lg">
        Las periodistas reconocen haber sufrido multiples tipo de modalidades de
        violencia
      </p>
    </div>
  </section>
  <Violencia />
  <Momentos />
  <Content />
  <Autor />
  <Content2 />
  <!-- <Impacto /> -->
</section>
