---
import Content from "./content.astro";
import Momentos from "./momentos.astro";
import Violencia from "./violencia.astro";
import Autor from "./autor.astro";
import Impacto from "./impacto.astro";
---

<section>
  <section>
    Capítulo sobre Violencias
    <p class="text-sm">Aquí puede ir un pequeño texto introduciendo a los datos relacionados con las violencias</p>
  </section>
  <Violencia />
  <Momentos />
  <Content />
  <Autor />
  <Impacto />
</section>
