---
import Violencia from "./violencia.astro";
import MomentosTexto from "./momentos-texto.astro";
import Momentos from "./momentos.astro";
import AutorTexto from "./autor-texto.astro";
import Autor from "./autor.astro";
import Impacto from "./impacto.astro";
---

<section>
  <section>
    <div>
      <h2 class="text-5xl">Violencia a mujeres periodistas en Argentina</h2>
      <p class="text-lg">
        Las periodistas reconocen haber sufrido multiples tipo de modalidades de
        violencia
      </p>
    </div>
  </section>
  <Violencia />
  <MomentosTexto />
  <Momentos />
  <AutorTexto />
  <Autor />
  <!-- <Impacto /> -->
</section>
