---
import xImage from "@/assets/x.svg";
import Background from "../background.astro";
---

<section id="seccionViolenciasMomento" class="r-stretch">
  <Background image={xImage} position="-right-96 -bottom-80" />
  <div id="violencias-momento-container" class="w-10/12 h-full m-auto">
    <div id="graficoViolenciasMomento"></div>
  </div>
</section>
<script>
  import { observer } from "@/utils/slider-utils";
  import * as echarts from "echarts";
  const chartDom = document.getElementById("graficoViolenciasMomento");
  const chart = echarts.init(chartDom);

  const option = {
    title: {
      text: "Momento de ocurrencia de la violencia según tipo de violencia",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    legend: {
      orient: "vertical",
      right: 0,
      top: 70,
    },
    grid: {
      left: 100,
      right: 100,
      top: 50,
      bottom: 50,
    },
    yAxis: {
      type: "value",
    },
    xAxis: {
      type: "category",
      data: [
        "Psicológica",
        "Física",
        "Económica",
        "Sexual",
        "Laboral",
        "Institucional",
        "En línea",
      ],
    },
    series: [
      {
        name: "Durante su actual empleo",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#401F71",
        emphasis: {
          focus: "series",
        },
        data: [36, 1, 32, 17, 4, 36, 38],
      },
      {
        name: "Durante empleos al comienzo de su trayectoria periodística",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#FFAC39",
        emphasis: {
          focus: "series",
        },
        data: [71, 19, 58, 61, 23, 46, 19],
      },
      {
        name: "Durante el tratamiento de una noticia sensible",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#ED8272",
        emphasis: {
          focus: "series",
        },
        data: [36, 9, 11, 1, 2, 26, 27],
      },
    ],
  };

  const resizeChart = () => {
    const section = document.getElementById("violencias-momento-container");
    if (!chartDom) return;
    chartDom.style.width = section?.offsetWidth + "px";
    chartDom.style.height = section?.offsetHeight
      ? section.offsetHeight + "px"
      : "100vh";
    chart.resize();
  };
  const initGraph = () => {
    resizeChart();
    chart.setOption(option);
  };

  window.addEventListener("resize", () => {
    if (chart) {
      resizeChart();
    }
  });

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
</script>
