---

---

<section>
  <p class="text-2xl w-10/12 m-auto">
    En cuanto al <b>momento de ocurrencia de la violencia</b>, las encuestadas señalaron que 
    <b>todas las formas de violencia</b>, excepto la violencia en línea, 
    <b>ocurrieron en su mayoría al inicio de su trayectoria laboral</b>. 
    Este patrón refleja las dificultades que enfrentan al ingresar al campo del periodismo.
  </p>
</section>

<style></style>
