---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <p
      class="lg:text-2xl w-10/12 m-auto bg-primary-900 p-16 rounded-3xl text-white"
    >
      En cuanto al <b>momento de ocurrencia de la violencia</b>, las encuestadas
      señalaron que
      <b>todas las formas de violencia</b>, excepto la violencia en línea,
      <b>ocurrieron en su mayoría al inicio de su trayectoria laboral</b>. Este
      patrón refleja las dificultades que enfrentan al ingresar al campo del
      periodismo.
    </p>
  </div>
  <Globe />
</section>

<script></script>
