---
import xImage from "@/assets/x.svg";
import Background from "../background.astro";
---

<section id="seccionViolenciasMomento" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">Momento de ocurrencia de la violencia según tipo de violencia</h2>
    <Background image={xImage} position="-right-96 -bottom-80" />
    <div id="violencias-momento-container" class="w-10/12 h-full m-auto">
      <div id="graficoViolenciasMomento"></div>
    </div>
  </div>
</section>
<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";
  const lg = window.matchMedia("(min-width: 1024px)");
  const legend = lg.matches
    ? {
        orient: "vertical",
        right: 0,
        top: 70,
        textStyle: {
          fontSize: 12,
        },
      }
    : {
        orient: "vertical",
        right: 0,
        top: 40,
        textStyle: {
          fontSize: 9,
        },
      };

  const option = {
    legend,
    grid: {
      left: "15%",
      right: "15%",
      top: 40,
      bottom: 50,
    },
    yAxis: {
      type: "value",
    },
    xAxis: {
      type: "category",
      data: [
      "Psicológica",
      "Institucional",
      "Económica",
      "En línea",
      "Sexual",
      "Física",
      "Laboral",
      ],
      axisLabel: {
        fontSize: 12,
        color: "#000",
      },
    },

    series: [
      {
        name: "Durante su actual empleo",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#401F71",
        emphasis: {
          focus: "series",
        },
        data: [36,36,32,38,17,1,4],
      },
      {
        name: "Durante empleos al comienzo \nde su trayectoria periodística",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#FFAC39",
        emphasis: {
          focus: "series",
        },
        data: [71,46,58,19,61,19,23],
      },
      {
        name: "Durante el tratamiento de una \nnoticia sensible",
        type: "bar",
        stack: "total",
        label: {
          show: true,
        },
        color: "#ED8272",
        emphasis: {
          focus: "series",
        },
        data: [36,26,11,27,1,9,2],
      },
    ],
  };

  initChartOnScreen(
    "graficoViolenciasMomento",
    () =>
      resizeChart(
        "violencias-momento-container",
        "graficoViolenciasMomento",
        option
      ) // Función init
  );
</script>
