---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-primary-900 p-16 rounded-3xl text-white"
    >
      La <b>violencia psicológica</b> es la más común (150 casos), seguida por
      la institucional y económica (115 cada una). <br />
      Incluso se reportaron altos niveles de violencia sexual (84). <br />
      También aparecen casos de violencia en línea (88), laboral (31) y física
      (25),
      <b>visibilizando una problemática generalizada en el sector</b>.
    </p>
    <Globe
      backgroundColor="bg-terciary-500"
      borderColor="border-b-terciary-500"
    />
  </div>
</section>

<style></style>
