---
import microphoneImage from "@/assets/microphone.svg";
import Background from "../background.astro";
---

<section id="seccionViolenciasViolencia" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <Background image={microphoneImage} position="-right-24 -bottom-20" />
    <div id="violencias-violencia-container" class="w-10/12 h-full m-auto">
      <div id="graficoViolenciasViolencia"></div>
    </div>
  </div>
</section>

<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    tooltip: {},
    title: {
      text: "Violencias sufridas por mujeres periodistas",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    yAxis: {
      data: [
        "ViolenciasViolencia psicológica",
        "ViolenciasViolencia física",
        "ViolenciasViolencia económica",
        "ViolenciasViolencia sexual",
        "ViolenciasViolencia laboral",
        "ViolenciasViolencia institucional",
        "ViolenciasViolencia en línea",
      ],
      // axisLabel: { rotate: -45 },
    },
    xAxis: {},
    series: [
      {
        type: "bar",
        data: [150, 25, 115, 84, 31, 115, 88],
        color: "#401F71",
      },
    ],
  };

  initChartOnScreen(
    "graficoViolenciasViolencia",
    () =>
      resizeChart(
        "violencias-violencia-container",
        "graficoViolenciasViolencia",
        option
      ) // Función init
  );
</script>
