---
import { Image } from "astro:assets";
import microphoneImage from "../../../../assets/microphone.svg";
import Background from "../background.astro";
---

<section id="sectionViolencia" class="r-stretch">
  <Background image={microphoneImage} position="-right-24 -bottom-20" />
  <div id="violencia-container" class="w-10/12 h-full m-auto">
    <div id="graficoViolencia"></div>
  </div>
</section>

<script>
  import { observer } from "../../../../utils/observer";
  import * as echarts from "echarts";

  const chartDom = document.getElementById("graficoViolencia");
  const chart = echarts.init(chartDom);
  const option = {
    tooltip: {},
    title: {
      text: "Violencia sufrida por las encuestadas",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    xAxis: {
      data: [
        "    Violencia psicológica",
        "Violencia física",
        "Violencia económica",
        "Violencia sexual",
        "Violencia laboral",
        "Violencia institucional",
        "Violencia en línea",
      ],
      axisLabel: { rotate: -45 },
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [150, 25, 115, 84, 31, 115, 88],
        color: "#401F71",
      },
    ],
  };

  const resizeChart = () => {
    const section = document.getElementById("momento-container");
    if (!chartDom) return;
    chartDom.style.width = section?.offsetWidth + "px";
    chartDom.style.height = section?.offsetHeight
      ? section.offsetHeight + "px"
      : "100vh";
    chart.resize();
  };
  const initGraph = () => {
    resizeChart();
    chart.setOption(option);
  };

  window.addEventListener("resize", () => {
    if (chart) {
      resizeChart();
    }
  });

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
</script>
