---

---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">¿Cuál es el impacto de las medidas para proteger a las mujeres periodistas?</h2>
    <div id="mitigacion-grado-container" class="w-10/12 h-full m-auto">
      <div id="graficoMitigacionGrado"></div>
    </div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    color: colors,

    legend: { bottom: 0 },
    tooltip: {},
    grid: {
      left: "35%",
      right: "10%",
    },
    dataset: {
      dimensions: ["product", "Nada", "Poco", "Bastante", "Mucho"],
      source: [
        {
          product: "Protocolos de igualdad de \ngénero en las redacciones",
          Nada: 29,
          Poco: 68,
          Bastante: 65,
          Mucho: 39,
        },
        {
          product: "Procesos internos para resguardar\n a las víctimas en espacios laborales",
          Nada: 27,
          Poco: 56,
          Bastante: 67,
          Mucho: 51,
        },
        {
          product: "Denuncias públicas sobre casos de \nviolencia en ejercicio del periodismo",
          Nada: 29,
          Poco: 50,
          Bastante: 74,
          Mucho: 53,
        },
        {
          product: "Capacitaciones sobre seguridad \ndigital para periodistas",
          Nada: 23,
          Poco: 45,
          Bastante: 75,
          Mucho: 59,
        },
      ],
    },
    yAxis: {
      type: "category",
      axisLabel: {
        fontSize: 12,
        width: 250,
        overflow: "break",
        color: "#000",
      },
    },
    xAxis: {},
    // Declare several bar series, each will be mapped
    // to a column of dataset.source by default.
    series: [
      { type: "bar", barWidth: "10%" },
      { type: "bar", barWidth: "10%" },
      { type: "bar", barWidth: "10%" },
      { type: "bar", barWidth: "10%" },
    ],
  };

  initChartOnScreen(
    "graficoMitigacionGrado",
    () =>
      resizeChart(
        "mitigacion-grado-container",
        "graficoMitigacionGrado",
        option
      ) // Función init
  );
</script>
