---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left p-16 rounded-3xl border-4 border-primary-900"
    >
      Nos parece importante conocer cómo impactan distintas <b>medidas en la
      prevención y protección contra las violencias</b> sufridas por las mujeres
      periodistas. Así, las encuestadas en este estudio indican que las
      <b>capacitaciones</b> sobre seguridad digital son una de las medidas que más
      ayuda (59 casos), seguidas por las <b>denuncias públicas</b> (53 casos), y los
      <b>procesos internos para resguardar a las víctimas</b> (51 casos).
    </p>
    <Globe />
  </div>
</section>

<style></style>
