---

---

<section class="r-stretch !h-full bg-primary-900">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-white p-16 rounded-3xl"
    >
      La <b>
        mayoría de las mujeres periodistas no recibieron capacitaciones en
        género</b
      > (116 casos). <b>Sin embargo, las que sí </b>(99) participaron, abordando
      principalmente temas como la Ley Micaela, legislación específica de
      derechos de las mujeres y violencias de géneros. A pesar de esto, las
      periodistas <b> indicaron que el impacto de estas capacitaciones </b> en su
      ámbito laboral <b> fue bajo.</b>
    </p>
  </div>
</section>

<style></style>
