---

---

<section class="showGlobo">
  <p class="text-2xl w-10/12 m-auto bg-primary-900 p-16 rounded-3xl text-white">
    La <b
      >mayoría de las mujeres periodistas no recibieron capacitaciones en género</b
    > (116 casos). Sin embargo, las que sí (99) participaron, abordando principalmente
    temas como la Ley Micaela y las violencias. A pesar de esto, las periodistas
    <b>indicaron que el impacto de estas capacitaciones</b> en su ámbito laboral
    fue <b>bajo</b>.
  </p>
</section>

<style></style>
