---

---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h1 class="text-4xl">
      ¿Qué impacto tienen las capacitaciones sobre temáticas de géneros?
    </h1>
    <div id="mitigacion-impacto-container" class="w-10/12 h-full m-auto">
      <div id="graficoMitigacionImpacto"></div>
    </div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    color: colors,
    legend: { bottom: 0 },
    tooltip: {},
    grid: {
      left: "25%",
      right: "25%",
    },
    dataset: {
      dimensions: ["product", "Nada", "Poco", "Bastante", "Mucho", "NS/NC"],
      source: [
        {
          product: "Impacto en el tratamiento de las noticias",
          Nada: 20,
          Poco: 47,
          Bastante: 44,
          Mucho: 19,
          "NS/NC": 85,
        },
        {
          product: "Impacto en la cultura organizacional del medio",
          Nada: 33,
          Poco: 58,
          Bastante: 21,
          Mucho: 10,
          "NS/NC": 93,
        },
        {
          product:
            "Impacto en el conocimiento y sensibilización sobre temáticas de géneros",
          Nada: 19,
          Poco: 48,
          Bastante: 39,
          Mucho: 20,
          "NS/NC": 89,
        },
      ],
    },
    yAxis: {
      type: "category",
      axisLabel: {
        fontSize: 18,
        width: 250,
        overflow: "break",
        color: "#000",
      },
    },
    xAxis: {},
    // Declare several bar series, each will be mapped
    // to a column of dataset.source by default.
    series: [
      { type: "bar" },
      { type: "bar" },
      { type: "bar" },
      { type: "bar" },
      { type: "bar" },
    ],
  };

  initChartOnScreen(
    "graficoMitigacionImpacto",
    () =>
      resizeChart(
        "mitigacion-impacto-container",
        "graficoMitigacionImpacto",
        option
      ) // Función init
  );
</script>
