---
import Medidas from "./medidas.astro";
import TextoGrado from "./grado-texto.astro";
import Grado from "./grado.astro";
import TextoImpacto from "./impacto-texto.astro";
import Impacto from "./impacto.astro";
import TextoReaccion from "./reaccion-texto.astro";
import Reaccion from "./reaccion.astro";
---

<section>
  <section>
    <div>
      <h2 class="text-5xl">Capitulo sobre mitigación</h2>
      <p class="text-sm">
        Aquí puede ir un pequeño texto introduciendo a los datos relacionados
        con las acciones de mitigación
      </p>
    </div>
  </section>
  <Medidas />
  <TextoGrado />
  <Grado />
  <TextoImpacto />
  <Impacto />  
  <TextoReaccion />
  <Reaccion />    
</section>
