---
import Medidas from "./medidas.astro";
import TextoGrado from "./grado-texto.astro";
import Grado from "./grado.astro";
import TextoImpacto from "./impacto-texto.astro";
import Impacto from "./impacto.astro";
import MedidasTexto from "./medidas-texto.astro";
import Reaccion from "./reaccion.astro";
import CaratulaMitigacion from "./caratula-mitigacion.astro";
---

<section>
  <CaratulaMitigacion />
  <Reaccion />
  <MedidasTexto />
  <Medidas />
  <TextoGrado />
  <Grado />
  <TextoImpacto />
  <Impacto />
</section>
