---
import Content from "./content.astro";
import Graph from "./graph.astro";
---

<section>
  <section>
    Capitulo sobre mitigación
    <p class="text-sm">Aquí puede ir un pequeño texto introduciendo a los datos relacionados con la mitigación de las violencias</p>
  </section>
  <Graph />
  <Content />
</section>
