---
import microphoneImage from "@/assets/microphone.svg";
import Background from "../background.astro";
---

<section id="seccionMitigacionMedidas" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <Background image={microphoneImage} position="-right-24 -bottom-20" />
    <div id="mitigacion-medidas-container" class="w-10/12 h-full m-auto">
      <div id="graficoMitigacionMedidas"></div>
    </div>
  </div>
</section>

<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    tooltip: {},
    title: {
      text: "¿Qué medidas existen para proteger a las mujeres periodistas?",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    yAxis: {
      data: [
        "Acciones efectivas (penas, aplicación de las normativas de cualquier índole)",
        "Nuevos protocolos y/o legislación",
        "Sindicatos y/o cualquier tipo de organización de apoyo",
        "Capacitación y formación en general",
        "Concientización, difusión y cambio cultural",
        "Denuncia",
        "Apartamiento del victimario",
      ],
      // axisLabel: { rotate: -45 },
    },
    xAxis: {},
    series: [
      {
        type: "bar",
        data: [33, 21, 37, 33, 24, 21, 4],
        color: "#401F71",
      },
    ],
  };

  initChartOnScreen(
    "graficoMitigacionMedidas",
    () =>
      resizeChart(
        "mitigacion-medidas-container",
        "graficoMitigacionMedidas",
        option
      ) // Función init
  );
</script>
