---

---

<section id="mitigacion-reaccion-container" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <div id="graficoMitigacionReaccion" class="w-10/12 h-full m-auto"></div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    title: {
      text: "¿Qué se hace frente a los casos de violencia?",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    color: colors,
    legend: {
      data: ["Allocated Budget", "Actual Spending"],
    },
    radar: {
      // shape: 'circle',
      indicator: [
        { name: "No hizo o dijo nada", max: 120 },
        { name: "Lo comentó con otras mujeres en el periodismo,", max: 120 },
        { name: "Lo comentó con varones en el periodismo", max: 120 },
        { name: "Lo comentó con otras mujeres fuera del periodismo", max: 120 },
        { name: "Lo comentó con varones fuera del periodismo", max: 120 },
        { name: "Denunció ante órganos competentes", max: 120 },
      ],
    },
    series: [
      {
        name: "Budget vs spending",
        type: "radar",
        data: [
          {
            value: [59, 107, 79, 94, 78, 32],
            name: "Reacción",
          },
        ],
      },
    ],
  };

  initChartOnScreen(
    "graficoMitigacionReaccion",
    () =>
      resizeChart(
        "mitigacion-reaccion-container",
        "graficoMitigacionReaccion",
        option
      ) // Función init
  );
</script>
