---

---

<section id="mitigacion-reaccion-container" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">¿Qué se hace frente a los casos de violencia?</h2>
    <div id="graficoMitigacionReaccion" class="w-10/12 h-full m-auto"></div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    color: colors,
    radar: {
      // shape: 'circle',
      indicator: [
        { name: "No hizo o dijo nada", max: 120 },
        { name: "Lo comentó con otras \nmujeres en el periodismo,", max: 120 },
        { name: "Lo comentó con varones \nen el periodismo", max: 120 },
        { name: "Lo comentó con otras \nmujeres fuera del periodismo", max: 120 },
        { name: "Lo comentó con varones \nfuera del periodismo", max: 120 },
        { name: "Denunció ante órganos \ncompetentes", max: 120 },
      ],
      axisName: {
        color: "#000",
        fontSize: 12,
      },
    },
    series: [
      {
        name: "",
        type: "radar",
        data: [
          {
            value: [59, 107, 79, 94, 78, 32],
            name: "Reacción",
          },
        ],
      },
    ],
  };

  initChartOnScreen(
    "graficoMitigacionReaccion",
    () =>
      resizeChart(
        "mitigacion-reaccion-container",
        "graficoMitigacionReaccion",
        option
      ) // Función init
  );
</script>
