---
const faqs = [
  {
    question: "¿Cuál es el objetivo de esta investigación?",
    answer:
      "FOPEA se propuso la realización de una investigación que revele qué necesidades de protección tienen las periodistas en la Argentina e instale el asunto en la agenda pública. Dirigida por periodistas para periodistas, esta pesquisa inédita reune información cuantitativa y cualitativa que permitirá desarrollar abordajes y herramientas eficaces de defensa y sensibilización por parte de la propia organización; de los medios de comunicación; de otras entidades y del Estado. El objetivo principal del proyecto es identificar los puntos de vulnerabilidad y de indefensión que afectan la labor de las integrantes de las redacciones y, a partir de esos hallazgos, proponer medidas ajustadas a la realidad, que de un modo tangible mejoren la seguridad de las periodistas, y les permitan desenvolver sus carreras en condiciones de igualdad y de justicia. ",
  },
  {
    question: "¿Qué entendemos por violencias hacia las mujeres?",
    answer:
      "Las violencias por razones de géneros son aquellas acciones que generan daños contra una persona o un grupo de personas debido a su género, es decir, que estas violencias tienen su origen en las desigualdades de géneros (ONU Mujeres, 2023). Las mujeres y las niñas sufren de manera desproporcional este tipo de violencias. La ley de Protección Integral para Prevenir, Sancionar y Erradicar la Violencia contra las Mujeres en los ámbitos en que desarrollen sus relaciones interpersonales (ley nacional 26485) en su artículo 4 define las violencias contra las mujeres como “toda conducta, por acción u omisión, basada en razones de género, que, de manera directa o indirecta, tanto en el ámbito público como en el privado, en el espacio analógico digital, basada en una relación desigual de poder, afecte su vida, libertad, dignidad, integridad física, psicológica, sexual, económica o patrimonial, participación política, como así también su seguridad personal. Quedan comprendidas las perpetradas desde el Estado o por sus agentes. Se considera violencia indirecta, a los efectos de la presente ley, toda conducta, acción, omisión, disposición, criterio o práctica discriminatoria que ponga a la mujer en desventaja con respecto al varón”.  De manera sencilla, se puede señalar que las violencias contra las mujeres se constituyen por cualquier acción u omisión que genera daño en las mujeres, y que se funda en la relación de desigualdad, subordinación y en las relaciones de poder de los hombres sobre las mujeres. ",
  },
  {
    question:
      "¿Cómo se han tenido en cuenta los riesgos específicos a los que se enfrentan las mujeres  periodistas en el desempeño de su profesión?",
    answer:
      "Se tuvieron en cuenta los riesgos descritos en los antecedentes relevados para la investigación y a partir de eso se desarrollará una metodología de trabajo segura. Desde la conformación de la base de datos a la que será distribuida la encuesta, la creación de un protocolo de privacidad que brinde un entorno seguro para la participación, la anonimización de los casos para el análisis de resultados.",
  },
  {
    question: "¿Quiénes formaron el equipo de investigación?",
    answer:
      "Judith Calmels (periodista investigadora), Ileana Hotschewer (periodista investigadora), Silvia Noviazky (periodista investigadora), Mariela Quiroga (periodista investigadora), Verónica Luetto (asesoría técnica), Dariana Cedeño (asistente administrativa), Amelia Corazza (Directora ejecutiva de FOPEA), Irene Benito (asesora de nuevos proyectos), Juan Pablo Martínez (excoordinador de Comunicación de FOPEA), y Cecilia Bazán (coordinadora del proyecto). También colaboraron: Martín del Fabro (asesoría técnica), Lola Vidal (diseño de identidad visual). ",
  },
];
import { Icon } from "astro-icon/components";
---

<div class="container mx-auto p-6">
  <h2 class="text-2xl font-semibold text-gray-800">Preguntas frecuentes</h2>
  <p class="mt-2 text-gray-600">
    Definiciones clave de la investigación para navegar los datos.
  </p>

  <div class="mt-4">
    {
      faqs.map((pregunta, index) => (
        <div
          class={`mt-2 border bg-white rounded-lg overflow-hidden relative hover:bg-primary-900 transition ${index === 0 ? "show" : ""}`}
          data-accordion
        >
          <button
            class={`w-full text-left p-8 font-semibold text-gray-800 flex justify-between items-center`}
            data-accordion-button
          >
            <span>{pregunta.question}</span>
            <Icon
              name="mdi:chevron-down"
              data-accordion-icon
              class={`w-6 h-6 ${index === 0 ? "rotate-180" : ""}`}
            />
          </button>
          <div
            class={`px-8  bg-purple-50 text-gray-700   transition-all`}
            data-accordion-content
          >
            {pregunta.answer.split("\n").map((line, i) => (
              <p>{line}</p>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .inset-shadow {
    box-shadow: none;
    ::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.05) inset !important;
    }
  }
  [data-accordion] {
    [data-accordion-content] {
      max-height: 0;
    }
    &:hover {
      &:not(.show) {
        [data-accordion-button] {
          color: #fff;
        }
      }
    }
  }
  [data-accordion].show {
    [data-accordion-content] {
      max-height: 100vh;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    [data-accordion-button] {
      background-color: oklch(0.977 0.014 308.299);
    }
    [data-accordion-icon] {
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
</style>

<script>
  const accordions = document.querySelectorAll("[data-accordion]");
  accordions.forEach((accordion) => {
    const button = accordion.querySelector("[data-accordion-button]");
    button?.addEventListener("click", () => {
      accordions.forEach((item) => {
        item.classList.remove("show");
      });
      button.parentElement?.classList.toggle("show");
    });
  });
</script>
