---
import Ximage from "@/assets/x.svg"
import Image from "astro/components/Image.astro"
---



<section id="seccionViolencia" class="h-full">
    <div class="h-full flex bg-terciary-900 px-10">
        <div class="flex flex-col lg:gap-16 py-3 justify-end text-container w-4/6 ">

            <h2 class="lg:text-6xl w-10/12 mx-auto text-white text-left">
                3. Trayectorias profesionales. 
                <br /> Las mujeres y el ejercicio del periodismo
                en la Argentina.
            </h2>
            <p class="text-sm lg:text-lg mt-5 w-10/12 mx-auto bg-white p-5 rounded-3xl shadow-lg">
                [...]
            </p>
        </div>
        <div class="w-2/6 relative">
            <Image src={Ximage} alt="mano en alto" class="image w-auto h-3/4 left-1/2 transform -translate-x-1/2 bottom-0 absolute text-white"/>
        </div>

    </div>
  </section>

<style>
    .image{
        filter: grayscale(1);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
    }
    @media screen and (min-width: 1024px) {
    .text-container{
        justify-content:center
      }
    }
</style>