---

---

<section id="seccionTrayectoriasCuidados" class="r-stretch">
  <div id="trayectorias-cuidados-container" class="w-10/12 h-full m-auto">
    <div id="graficoTrayectoriasCuidados"></div>
  </div>
</section>

<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    tooltip: {},
    title: {
      text: "¿Qué impactó tienen las tareas de cuidado en la \n trayectoria laboral de las mujeres periodistas?",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    xAxis: {
      data: ["Nada", "Poco", "Algo", "Bastante", "Mucho"],
      // axisLabel: { rotate: -45 },
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [15, 15, 44, 58, 83],
        color: "#401F71",
      },
    ],
  };

  initChartOnScreen(
    "graficoTrayectoriasCuidados",
    () =>
      resizeChart(
        "trayectorias-cuidados-container",
        "graficoTrayectoriasCuidados",
        option
      ) // Función init
  );
</script>
