---

---

<section id="seccionTrayectoriasCuidados" class="r-stretch">
  <div id="trayectorias-cuidados-container" class="w-10/12 h-full m-auto">
    <div id="graficoTrayectoriasCuidados"></div>
  </div>
</section>

<script>
  import { observer } from "../../../../utils/observer";
  import * as echarts from "echarts";

  const chartDom = document.getElementById("graficoTrayectoriasCuidados");
  const chart = echarts.init(chartDom);
  const option = {
    tooltip: {},
    title: {
      text: "¿Qué impactó tienen las tareas de cuidado en la trayectoria laboral de las mujeres periodistas?",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    xAxis: {
      data: ["Nada", "Poco", "Algo", "Bastante", "Mucho"],
      // axisLabel: { rotate: -45 },
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [15, 15, 44, 58, 83],
        color: "#401F71",
      },
    ],
  };

  const resizeChart = () => {
    const section = document.getElementById("trayectorias-cuidados-container");
    if (!chartDom) return;
    chartDom.style.width = section?.offsetWidth + "px";
    chartDom.style.height = section?.offsetHeight
      ? section.offsetHeight + "px"
      : "100vh";
    chart.resize();
  };
  const initGraph = () => {
    resizeChart();
    chart.setOption(option);
  };

  window.addEventListener("resize", () => {
    if (chart) {
      resizeChart();
    }
  });

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
</script>
