---

---

<section id="seccionTrayectoriasCuidados" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">
      ¿Qué impacto tienen las tareas de cuidado en la
      <br /> trayectoria laboral de las mujeres periodistas?
    </h2>
    <div id="trayectorias-cuidados-container" class="w-10/12 h-full m-auto">
      <div id="graficoTrayectoriasCuidados"></div>
    </div>
  </div>
</section>

<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    tooltip: {},

    color: colors,
    xAxis: {
      data: ["Nada", "Poco", "Algo", "Bastante", "Mucho"],
      axisLabel: {
        fontSize: 12,
        color: "#000",
        width: 250,
        overflow: "break",
      },
    },
    grid: {
      left: "20%",
      right: "20%",
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [15, 15, 44, 58, 83],
        color: "#401F71",
        barWidth: "40%",
        label: {
          show: true,
        },
      },
    ],
  };

  initChartOnScreen(
    "graficoTrayectoriasCuidados",
    () =>
      resizeChart(
        "trayectorias-cuidados-container",
        "graficoTrayectoriasCuidados",
        option
      ) // Función init
  );
</script>
