---

---

<section id="seccionTrayectoriasDificultad" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">
      Percepción sobre la dificultad en conseguir
      <br />
      el puesto actual en el periodismo
    </h2>
    <div id="trayectorias-dificultad-container" class="w-10/12 h-full m-auto">
      <div id="graficoTrayectoriasDificultad"></div>
    </div>
  </div>
</section>

<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    tooltip: {},
    xAxis: {
      data: ["Muy fácil", "Fácil", "Término medio", "Difícil", "Muy difícil"],
      axisLabel: {
        fontSize: 12,
        color: "#000",
        width: 250,
        overflow: "break",
      },
    },
    grid: {
      left: "20%",
      right: "20%",
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [11, 23, 66, 45, 70],
        color: "#401F71",
        barWidth: "40%",
        label: {
          show: true,
        },
      },
    ],
  };

  initChartOnScreen(
    "graficoTrayectoriasDificultad",
    () =>
      resizeChart(
        "trayectorias-dificultad-container",
        "graficoTrayectoriasDificultad",
        option
      ) // Función init
  );
</script>
