---

---

<section class="showGlobo">
  <p class="text-2xl w-10/12 m-auto bg-primary-900 p-16 rounded-3xl text-white">
    Casi la mitad de las encuestadas (116) <b
      >señalaron dificultades para acceder a su puesto actual</b
    >, destacando que 70 lo consideraron muy difícil, 45 bastante difícil y 66
    difícil. Las personas que enfrentaron <b>mayores dificultades</b> se concentran
    principalmente en el <b>rango etario de 36 a 60 años</b>, y <b
      >117 son cabeza de hogar</b
    >. En cuanto
  </p>
</section>

<style></style>
