---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-primary-900 p-16 rounded-3xl text-white"
    >
      Casi la mitad de <b> las encuestadas </b>(116)<b>
        señalaron dificultades para acceder a su puesto actual
      </b>, destacando que 70 lo consideraron muy difícil, 66 bastante difícil y
      45 difícil. Las personas que enfrentaron <b>mayores dificultades </b> se concentran
      principalmente <b>
        en el rango etario de 36 a 60 años, y 117 son cabeza de hogar
      </b>
    </p>
    <Globe
      backgroundColor="bg-terciary-500"
      borderColor="border-b-terciary-500"
    />
  </div>
</section>

<style></style>
