---
import Ingresos from "./ingresos.astro";
import DificultadTexto from "./dificultad-texto.astro";
import Dificultad from "./dificultad.astro";
import NoticiasTexto from "./noticias-texto.astro";
import Noticias from "./noticias.astro";
import CuidadosTexto from "./cuidados-texto.astro";
import Cuidados from "./cuidados.astro";
---

<section>
  <section id="seccionTrayectorias">
      <h2 class="text-5xl">3. Trayectorias profesionales. Las mujeres y el ejercicio del periodismo en la Argentina.</h2>
      <p class="text-lg mt-5 w-10/12 m-auto">
        [...]
      </p>
  </section>
  <Ingresos />
  <DificultadTexto />
  <Dificultad />
  <NoticiasTexto />
  <Noticias />
  <CuidadosTexto />
  <Cuidados />
</section>
