---
import Ingresos from "./ingresos.astro";
import DificultadTexto from "./dificultad-texto.astro";
import Dificultad from "./dificultad.astro";
import NoticiasTexto from "./noticias-texto.astro";
import Noticias from "./noticias.astro";
import CuidadosTexto from "./cuidados-texto.astro";
import Cuidados from "./cuidados.astro";
import CaratulaTrayectoria from "./caratula-trayectoria.astro";
---

<section>
  <CaratulaTrayectoria />
  <Ingresos />
  <DificultadTexto />
  <Dificultad />
  <NoticiasTexto />
  <Noticias />
  <CuidadosTexto />
  <Cuidados />
</section>
