---

---

<section id="seccionTrayectoriasIngresos" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h1 class="text-4xl">Percepción de las encuestadas sobre el ingreso</h1>
    <div class="flex w-full h-full justify-center">
      <div id="trayectorias-ingresos-container" class="w-8/12 h-full">
        <div id="graficoTrayectoriasIngresos"></div>
      </div>
    </div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    toolbox: {
      show: true,
      feature: {
        mark: { show: true },
      },
    },
    label: {
      labelStyle: {
        fontSize: 18,
      },
    },
    color: colors,
    series: [
      {
        type: "pie",
        radius: [50, 250],
        center: ["50%", "50%"],
        roseType: "area",
        itemStyle: {
          borderRadius: 8,
        },
        label: {
          fontSize: 16,
          width: 250,
          overflow: "break",
        },
        data: [
          {
            value: 46,
            name: "Ganan igual que los varones periodistas por iguales tareas",
          },
          {
            value: 97,
            name: "Ganan menos que los varones periodistas por iguales tareas",
          },
          {
            value: 1,
            name: "Ganan más que los varones periodistas por iguales tareas",
          },
          {
            value: 39,
            name: "Ganan menos que los varones periodistas por iguales tareas sólo en determinadas áreas.",
          },
          {
            value: 3,
            name: "Ganan más que los varones periodistas por iguales tareas en determinadas áreas.",
          },
        ],
      },
    ],
  };

  window.addEventListener("resize", () => {
    resizeChart(
      "trayectorias-ingresos-container",
      "graficoTrayectoriasIngresos",
      option
    );
  });

  initChartOnScreen(
    "graficoTrayectoriasIngresos",
    () =>
      resizeChart(
        "trayectorias-ingresos-container",
        "graficoTrayectoriasIngresos",
        option
      ) // Función init
  );
</script>
