---

---

<section id="seccionTrayectoriasIngresos" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <div class="flex w-full h-full justify-center">
      <div id="trayectorias-ingresos-container" class="w-8/12 h-full">
        <div id="graficoTrayectoriasIngresos"></div>
      </div>
    </div>
  </div>
</section>
<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const buttons = document.getElementsByName("violencia-tipo");
  const colors = [
    "#401F71",
    "#88659F",
    "#FFAC39",
    "#E6E1CF",
    "#ED8272",
    "#2A0C4E",
    "#B092C2",
    "#F8D58D",
    "#C9695B",
  ];

  const option = {
    toolbox: {
      show: true,
      feature: {
        mark: { show: true },
      },
    },
    series: [
      {
        name: "Nightingale Chart",
        type: "pie",
        radius: [50, 250],
        center: ["50%", "50%"],
        roseType: "area",
        itemStyle: {
          borderRadius: 8,
        },
        data: [
          {
            value: 46,
            name: "Ganan igual que los varones periodistas por iguales tareas",
          },
          {
            value: 97,
            name: "Ganan menos que los varones periodistas por iguales tareas",
          },
          {
            value: 1,
            name: "Ganan más que los varones periodistas por iguales tareas",
          },
          {
            value: 39,
            name: "Ganan menos que los varones periodistas por iguales tareas sólo en determinadas áreas.",
          },
          {
            value: 3,
            name: "Ganan más que los varones periodistas por iguales tareas en determinadas áreas.",
          },
        ],
      },
    ],
  };

  window.addEventListener("resize", () => {
    resizeChart(
      "trayectorias-ingresos-container",
      "graficoTrayectoriasIngresos",
      option
    );
  });

  initChartOnScreen(
    "graficoTrayectoriasIngresos",
    () =>
      resizeChart(
        "trayectorias-ingresos-container",
        "graficoTrayectoriasIngresos",
        option
      ) // Función init
  );
</script>
