---

---

<section id="seccionTrayectoriasIngresos" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">
      Percepción de las encuestadas sobre el ingreso
    </h2>
    <div id="graficoTrayectoriasIngresos" class="w-10/12 h-full m-auto"></div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    toolbox: {
      show: true,
      feature: {
        mark: { show: true },
      },
    },
    label: {
      labelStyle: {
        fontSize: 12,
      },
    },
    tooltip: {},
    color: colors,
    series: [
      {
        type: "pie",
        radius: [30, 140],
        center: ["50%", "50%"],
        roseType: "area",
        itemStyle: {
          borderRadius: 8,
        },
        label: {
          fontSize: 12,
          width: 250,
          overflow: "break",
        },
        data: [
          {
            value: 46,
            name: "Ganan igual que los \nvarones periodistas por \niguales tareas",
          },
          {
            value: 97,
            name: "Ganan menos que los \nvarones periodistas por \niguales tareas",
          },
          {
            value: 1,
            name: "Ganan más que los \nvarones periodistas por \niguales tareas",
          },
          {
            value: 39,
            name: "Ganan menos que los \nvarones periodistas por \niguales tareas sólo en \ndeterminadas áreas.",
          },
          {
            value: 3,
            name: "Ganan más que los \nvarones periodistas por \niguales tareas en determinadas \náreas.",
          },
        ],
      },
    ],
  };

  window.addEventListener("resize", () => {
    resizeChart(
      "trayectorias-ingresos-container",
      "graficoTrayectoriasIngresos",
      option
    );
  });

  initChartOnScreen(
    "graficoTrayectoriasIngresos",
    () =>
      resizeChart(
        "trayectorias-ingresos-container",
        "graficoTrayectoriasIngresos",
        option
      ) // Función init
  );
</script>
