---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-primary-900 p-16 rounded-3xl text-white"
    >
      Las encuestadas señalan que el <b
        >tratamiento de las noticias con perspectiva de género se da sólo en
        temáticas puntuales</b
      >
      (123 casos realizaron esta afirmación, y 65 encuestadas indicaron que esto
      sucede solo algunas veces).
    </p>
    <Globe />
  </div>
</section>

<style></style>
