---

---

<section id="trayectorias-noticias-container" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-10">
    <div id="graficoTrayectoriasNoticias"></div>
  </div>
</section>
<script>
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    title: {
      text: "¿Hay tratamiento de noticias con perspectiva de género?",
      textStyle: {
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    legend: {
      data: ["Allocated Budget", "Actual Spending"],
    },
    radar: {
      // shape: 'circle',
      indicator: [
        {
          name: "Sólo en temáticas puntuales se trabaja con perspectiva de género",
          max: 130,
        },
        { name: "Siempre se trabajan con perspectiva de género", max: 130 },
        {
          name: "Muchas veces se trabajan con perspectiva de género,",
          max: 130,
        },
        {
          name: "Algunas veces se trabajan con perspectiva de género",
          max: 130,
        },
        { name: "Nunca se trabaja con perspectiva de género", max: 130 },
      ],
    },
    series: [
      {
        name: "Budget vs spending",
        type: "radar",
        data: [
          {
            value: [123, 3, 10, 65, 14],
            name: "Reacción",
          },
        ],
      },
    ],
  };

  initChartOnScreen(
    "graficoTrayectoriasNoticias",
    () =>
      resizeChart(
        "trayectorias-noticias-container",
        "graficoTrayectoriasNoticias",
        option
      ) // Función init
  );
</script>
