---

---

<section id="seccion-trayectorias-noticias" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">
      ¿Hay tratamiento de noticias con perspectiva de género?
    </h2>
    <div id="trayectorias-noticias-container" class="w-10/12 h-full m-auto">
      <div id="graficoTrayectoriasNoticias" class="w-10/12 h-full m-auto"></div>
    </div>
  </div>
</section>
<script>
  import { colors } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";

  const option = {
    color: colors,
    tooltip: {
      trigger: "item",
    },
    radar: {
      // shape: 'circle',
      indicator: [
        {
          name: "Sólo en temáticas puntuales se trabaja con perspectiva de género",
          max: 130,
        },
        { name: "Siempre se trabajan con \nperspectiva de género", max: 130 },
        {
          name: "Muchas veces se trabaja \ncon perspectiva de género,",
          max: 130,
        },
        {
          name: "Algunas veces se trabajan \ncon perspectiva de género",
          max: 130,
        },
        { name: "Nunca se trabaja con \nperspectiva de género", max: 130 },
      ],
      axisName: {
        color: "#000",
        fontSize: 12,
      },
    },
    series: [
      {
        name: "Tratamiento de noticias con perspectiva de género",
        type: "radar",
        data: [
          {
            value: [123, 3, 10, 65, 14],
          },
        ],
      },
    ],
  };

  initChartOnScreen(
    "graficoTrayectoriasNoticias",
    () =>
      resizeChart(
        "trayectorias-noticias-container",
        "graficoTrayectoriasNoticias",
        option
      ) // Función init
  );
</script>
