---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full bg-primary-900">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-white p-16 rounded-3xl text-primary-900"
    >
    Las provincias con mayor cantidad de encuestadas fueron: Córdoba (22 encuestadas); 
    Buenos Aires y Santa Fe (21 periodistas de cada una); Neuquén y Tucumán (14 encuestadas); 
    Ciudad Autónoma de Buenos Aires y San Luis (13 periodistas), y Mendoza (12).
    </p>
    <Globe />
  </div>
</section>
