---
import Content from "./content.astro";
import Graph from "./graph.astro";
---

<section>
  <section id="seccionEncuestadas">
    <div>
      <h2 class="text-5xl">Capítulo con información sobre las encuestadas</h2>
      <p class="text-sm">
        Aquí puede ir un pequeño texto introduciendo a los datos relacionados
        con las personas encuestadas
      </p>
    </div>
  </section>
  <!-- <Graph /> -->
  <Content />
</section>
