---
import CaratulaEncuestadas from "./caratula-encuestadas.astro";
import EncuestadasTexto from "./encuestadas-texto.astro";
import Personal from "./personal.astro";
import Profesional from "./profesional.astro";
---

<section>
  <CaratulaEncuestadas />
  <EncuestadasTexto />
  <Personal />
  <Profesional />
</section>
