---
import CaratulaEncuestadas from "./caratula-encuestadas.astro";
import EncuestadasTexto from "./encuestadas-texto.astro";
import Personal from "./personal.astro";
import ProfesionalTexto from "./profesional-texto.astro";
import Profesional from "./profesional.astro";
import FinalTexto from "./final-texto.astro";
---

<section>
  <CaratulaEncuestadas />
  <EncuestadasTexto />
  <Personal />
  <ProfesionalTexto />
  <Profesional />
  <FinalTexto />
</section>
