---
import Content from "./content.astro";
import Graph from "./graph.astro";
---

<section>
  <section id="seccionEncuestadas">
      <h2 class="text-5xl">4. Sobre las periodistas encuestadas</h2>
      <p class="text-sm">
        Aquí puede ir un pequeño texto introduciendo a los datos relacionados
        con las personas encuestadas
      </p>
  </section>
  <!-- <Graph /> -->
  <Content />
</section>
