---
import Content from "./content.astro";
import Graph from "./graph.astro";
---

<section>
  <section>
    Capítulo con información sobre las encuestadas
    <p class="text-sm">Aquí puede ir un pequeño texto introduciendo a los datos relacionados con las personas encuestadas</p>
  </section>
  <Graph />
  <Content />
</section>
