---
import Globe from "../../common/globe.astro";
---

<section class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <p
      class="lg:text-2xl w-11/12 lg:w-10/12 m-auto text-left bg-primary-900 p-16 rounded-3xl text-white"
    >
    De los 215 periodistas encuestas la mayoría lleva más de 20 años en el ejercicio de la profesión (91 casos). 
    En cuanto al ámbito en el que se desempeñan, la mayoría de las que participaron en el estudio desarrollan 
    sus labores en el ámbito privado (140 casos), y cuentan con un trabajo registrado en espacios tales como radio, 
    diario, televisión, y medios digitales.
    </p>
    <Globe
      backgroundColor="bg-terciary-500"
      borderColor="border-b-terciary-500"
    />
  </div>
</section>

<style></style>
