---
import Caratula from "./item-slider/caratula.astro";
import CapituloViolencias from "./item-slider/violencia/index.astro";
import CapituloMitigacion from "./item-slider/mitigacion/index.astro";
import CapituloPercepciones from "./item-slider/percepciones/index.astro";
import CapituloEncuestadas from "./item-slider/encuestadas/index.astro";
// Define un estado inicial para currentSlide
---

<div class="reveal">
  <div class="slides !mx-4 !mt-10">
    <Caratula />
    <CapituloViolencias />
    <!-- <CapituloMitigacion />
    <CapituloPercepciones />
    <CapituloEncuestadas /> -->
  </div>
</div>

<script>
  const navbar = document.getElementById("navbar");
  const reveal = document.querySelector(".reveal");
  const height = navbar?.offsetHeight
    ? window.innerHeight - navbar?.offsetHeight
    : 1000;
  reveal.style.height = `${height}px`;

  import Reveal from "reveal.js";
  import Markdown from "reveal.js/plugin/markdown/markdown.esm.js";
  // Inicializa reveal.js
  let deck = new Reveal({
    width: "100%",
    margin: 0,
    plugins: [Markdown],
  });
  deck.initialize();
  // select slide to start
  // deck.on("ready", (event) => {
  //   deck.slide(1, 2);
  // });
</script>
