---
import Caratula from "./item-slider/caratula.astro";
import CapituloViolencias from "./item-slider/violencia/index.astro";
import CapituloMitigacion from "./item-slider/mitigacion/index.astro";
import CapituloTrayectorias from "./item-slider/trayectorias/index.astro";
import CapituloEncuestadas from "./item-slider/encuestadas/index.astro";
import { Icon } from "astro-icon/components";
// Define un estado inicial para currentSlide
---

<div class="reveal bg-white">
  <div class="slides mt-1">
    <CapituloViolencias />
    <CapituloMitigacion />
    <CapituloTrayectorias />
    <CapituloEncuestadas />
    <Caratula />
  </div>
  <div class="globo bg-secondary-500 absolute bottom-0 left-0 w-full opacity-0">
  </div>
</div>

<div id="slide-overlay">
  <Icon name="mdi:phone-rotate-landscape" class="text-8xl" />
  Por favor, gira tu dispositivo para ver la presentación.
</div>

<style>
  @media screen and (orientation: portrait) {
    #slide-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.99);
      color: white;
      font-size: 2rem;
      z-index: 9999;
    }

    .reveal {
      display: none;
    }
  }
  @media screen and (orientation: landscape) {
    #slide-overlay {
      display: none;
    }
  }
  .globo {
    height: 10%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: opacity 0.5s;
    &:after {
      content: " ";
      height: 0;
      width: 0;
      border: 50px solid transparent;
      border-top: 0;
      border-left: 0;
      border-bottom: 50px solid theme("colors.secondary.500");
      position: absolute;
      top: -50px;
      right: 10%;
      z-index: 1;
      border-top-left-radius: 10px;
    }
  }
</style>

<script>
  const navbar = document.getElementById("navbar");
  const reveal = document.querySelector(".reveal");
  const height = navbar?.offsetHeight
    ? window.innerHeight - navbar?.offsetHeight
    : 1000;

  reveal.style.height = `${height}px`;

  import Reveal from "reveal.js";
  import Markdown from "reveal.js/plugin/markdown/markdown.esm.js";
  import { showGlobo, highlightLink } from "@/utils/slider-utils.js";

  // Inicializa reveal.js
  let deck = new Reveal({
    width: "100%",
    margin: 0,
    plugins: [Markdown],
  });
  const initReveal = () => {
    deck.initialize();
  };
  initReveal();

  window.addEventListener("orientationchange", () => {
    const isLandscape = window.screen.orientation.type.includes("landscape");
    if (isLandscape) {
      initReveal();
    } //else deck.destroy();
  });
  deck.on("slidechanged", () => {
    highlightLink(deck);
    showGlobo(deck);
  });
</script>
