---
import { Image } from "astro:assets";
import logoPeriodistas from "@/assets/logo.png";
import logoUnesco from "@/assets/unesco.png";
import { Icon } from "astro-icon/components";
import NavbarLinkList from "./navbar-link-list.astro";
---

<nav id="navbar" class="border-b-2 border-gray-200 bg-white">
  <!-- <div class="flex justify-center border-b-2 border-b-gray-200 p-2">
    <Image src={logoUnesco} alt="logo Unesco" class="md:h-16 h-10 w-auto" />
  </div> -->
  <div class="container p-3 mx-auto flex justify-between">
    <div>
      <a href="/periodistas-amenazadas/" class="flex gap-5">
        <Image
          src={logoPeriodistas}
          alt="logo periodistas amenazadas"
          class="md:h-12 h-10 w-auto"
        />
      </a>
    </div>
    <div class="md:hidden">
      <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
    </div>
    <div
      class="overlay fixed top-0 h-screen w-screen -right-full opacity-0 transition-opacity duration-200 bg-black z-40"
    >
    </div>
    <div
      class="linkMenu fixed bottom-0 z-50 h-screen md-w-auto md:h-auto bg-white md:bg-transparent md:relative transition-all duration-300 w-10/12 -right-full md:right-0 md:block"
    >
      <div class="flex justify-end p-3 md:hidden">
        <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
      </div>
      <NavbarLinkList />
    </div>
  </div>
</nav>

<style></style>

<script>
  const menuButton = document.querySelectorAll(".menuButton");
  menuButton?.forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(".linkMenu")?.classList.toggle("!right-0");
      document.querySelector(".overlay")?.classList.toggle("!right-0");
      document.querySelector(".overlay")?.classList.toggle("!opacity-70");
    });
  });
</script>
