---
import { Image } from "astro:assets";
import logoPeriodistas from "@/assets/logo.png";
import { Icon } from "astro-icon/components";
---

<nav id="navbar" class="border-b-2 border-gray-200 bg-white">
  <div class="container lg:p-3 mx-auto flex justify-between">
    <div class="absolute lg:relative top-16 lg:top-0 z-50">
      <a href="/periodistas-amenazadas/" class="flex gap-5">
        <Image
          src={logoPeriodistas}
          alt="logo periodistas amenazadas"
          class="md:h-12 h-10 w-auto"
        />
      </a>
    </div>
    <div class="lg:hidden absolute right-0 top-16 z-50">
      <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
    </div>
    <div
      class="linkMenu fixed bottom-0 right-0 z-50 w-full h-screen md:w-auto md:h-auto bg-white hidden md:bg-transparent md:relative lg:block"
    >
      <div class="flex justify-end p-5 md:hidden">
        <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
      </div>
      <ul
        class="flex-col md:p-2 md:flex-row w-full flex items-end gap-10 text-lg flex-wrap justify-end"
      >
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/acercade" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/">Inicio</a>
        </li>
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/testimonios" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/testimonios">Testimonios</a>
        </li>
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/datos" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/datos">Datos</a>
        </li>
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/contacto" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/contacto">Contacto</a>
        </li>
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/metodologias" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/metodologias">Metodologia</a>
        </li>
        <li
          class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/faqs" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
        >
          <a href="/periodistas-amenazadas/faqs">Faqs</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="border-t-2 text-gray-500">
    <div class="lg:container px-3 mx-auto">
      <ul class="flex justify-between" id="subnavbar">
        <li class="py-3 px-3">
          <a
            class="links-subnavbar seccionViolencia"
            href="/periodistas-amenazadas/informe#/0"
          >
            1. Sobre las Violencias</a
          >
        </li>
        <li class="py-3 px-3">
          <a
            class="links-subnavbar seccionMitigacion"
            href="/periodistas-amenazadas/informe#/1"
          >
            2. Sobre Acciones de Mitigación</a
          >
        </li>
        <li class="py-3 px-3">
          <a
            class="links-subnavbar seccionTrayectorias"
            href="/periodistas-amenazadas/informe#/2"
          >
            3. Trayectorias profesionales</a
          >
        </li>
        <li class="py-3 px-3">
          <a
            class="links-subnavbar seccionEncuestadas"
            href="/periodistas-amenazadas/informe#/3"
          >
            4. Sobre las encuestadas</a
          >
        </li>
        <li class="py-3 px-3">
          <a
            class="links-subnavbar #/"
            href="/periodistas-amenazadas/informe#/4"
          >
            Índice</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.querySelectorAll(".menuButton");
  menuButton?.forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(".linkMenu")?.classList.toggle("hidden");
    });
  });
</script>
