---
import { Image } from "astro:assets";
import logoPeriodistas from "../../assets/logo.png";
import logoUnesco from "../../assets/unesco.png";
import { Icon } from "astro-icon/components";
---

<nav id="navbar" class="">
      <a href="/" class="absolute top-1 left-1 z-50">
        <Image
          src={logoPeriodistas}
          alt="logo periodistas amenazadas"
          class="md:h-16 h-10 w-auto"
        />
      </a>
 
</nav>

<style></style>

