---
import { Image } from "astro:assets";
import logoPeriodistas from "@/assets/logo.png";
import logoUnesco from "@/assets/unesco.png";
import { Icon } from "astro-icon/components";
import NavbarLinkList from "./navbar-link-list.astro";
---

<nav id="navbar" class="border-b-2 border-gray-200 bg-white">
  <!-- <div class="flex justify-center border-b-2 border-b-gray-200 p-2">
    <Image src={logoUnesco} alt="logo Unesco" class="md:h-16 h-10 w-auto" />
  </div> -->
  <div class="container p-3 mx-auto flex justify-between">
    <div>
      <a href="/periodistas-amenazadas/" class="flex gap-5">
        <Image
          src={logoPeriodistas}
          alt="logo periodistas amenazadas"
          class="md:h-12 h-10 w-auto"
        />
      </a>
    </div>
    <div class="md:hidden">
      <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
    </div>
    <div
      class="linkMenu fixed bottom-0 right-0 z-50 w-full h-screen md-w-auto md:h-auto bg-white hidden md:bg-transparent md:relative md:block"
    >
      <div class="flex justify-end p-5 md:hidden">
        <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
      </div>
      <NavbarLinkList />
    </div>
  </div>
</nav>

<style></style>

<script>
  const menuButton = document.querySelectorAll(".menuButton");
  menuButton?.forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(".linkMenu")?.classList.toggle("hidden");
    });
  });
</script>
