---
const { nowrap } = Astro.props;
const wrap = nowrap ? "flex-nowrap" : "";
---

<ul
  class={`flex-col md:p-2 md:flex-row w-full flex items-end gap-10 text-lg  justify-end ${wrap}`}
>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/acercade" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/">Inicio</a>
  </li>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/testimonios" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/#seccion-testimonios">Testimonios</a>
  </li>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/datos" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/informe">Datos</a>
  </li>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/contacto" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/#seccion-capaticaciones">Capacitaciones</a>
  </li>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/metodologias" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/metodologias">Metodología</a>
  </li>
  <li
    class={`border-b border-gray-100 w-full text-right px-8 md:w-auto md:border-none md:px-0 ${Astro.url.pathname === "/faqs" ? "text-primary-900 font-semibold" : "text-gray-500"}`}
  >
    <a href="/periodistas-amenazadas/faqs">Faqs</a>
  </li>
</ul>
