---
import { Image } from "astro:assets";
import logoPeriodistas from "@/assets/logo.png";
import logoFopea from "@/assets/fopea.png";

import { Icon } from "astro-icon/components";
import NavbarLinkList from "./navbar-link-list.astro";
---

<nav id="navbar" class="border-b-2 border-gray-200 bg-white">
  <div class="container lg:p-3 mx-auto flex justify-between">
    <div class="hidden lg:block top-16 lg:top-0 z-50">
      <a href="/periodistas-amenazadas/" class="flex gap-5">
        <Image
          src={logoPeriodistas}
          alt="logo periodistas amenazadas"
          class="md:h-12 h-10 w-auto"
        />
        <Image
          src={logoFopea}
          alt="logo periodistas amenazadas"
          class="md:h-12 h-10 w-auto"
        />
      </a>
    </div>
    <div
      class="lg:hidden absolute right-0 top-16 z-50 flex justify-end bg-white rounded-lg m-1 p-1"
    >
      <div class="lg:relative top-16 lg:top-0 z-50">
        <a href="/periodistas-amenazadas/" class="flex gap-5">
          <Image
            src={logoPeriodistas}
            alt="logo periodistas amenazadas"
            class="md:h-12 h-10 w-auto"
          />
        </a>
      </div>
      <div
        class="linkMenu flex fixed bottom-0 right-0 z-50 h-screen md:h-auto bg-white md:bg-transparent md:relative lg:block"
      >
        <div class="flex justify-end p-5 md:hidden">
          <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
        </div>
        <div class="links">
          <NavbarLinkList nowrap />
        </div>
      </div>
      <Icon name="mdi:menu" class="text-4xl cursor-pointer menuButton" />
    </div>
    <div
      class="hidden fixed bottom-0 right-0 z-50 w-full h-screen md:w-auto md:h-auto bg-white md:bg-transparent md:relative lg:block"
    >
      <NavbarLinkList />
    </div>
  </div>
  <div class="border-t-2 text-gray-500">
    <div class="lg:container px-3 mx-auto">
      <ul class="flex justify-between items-center h-fit" id="subnavbar">
        <li class="py-2 px-3 h-full">
          <a
            class="links-subnavbar lg:text-[16px] text-[11px]"
            href="/periodistas-amenazadas/informe#/0"
          >
            1. Sobre las Violencias</a
          >
        </li>
        <li class="py-2 px-3 h-full">
          <a
            class="links-subnavbar lg:text-[16px] text-[11px]"
            href="/periodistas-amenazadas/informe#/1"
          >
            2. Sobre Acciones de Mitigación</a
          >
        </li>
        <li class="py-2 px-3 h-full">
          <a
            class="links-subnavbar lg:text-[16px] text-[11px]"
            href="/periodistas-amenazadas/informe#/2"
          >
            3. Sobre trayectorias profesionales</a
          >
        </li>
        <li class="py-2 px-3 h-full">
          <a
            class="links-subnavbar lg:text-[16px] text-[11px]"
            href="/periodistas-amenazadas/informe#/3"
          >
            4. Sobre las encuestadas</a
          >
        </li>
        <li class="py-2 px-3 h-full">
          <a
            class="links-subnavbar lg:text-[16px] text-[11px]"
            href="/periodistas-amenazadas/informe#/4"
          >
            Índice</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .links {
    width: 0;
    overflow: hidden;
  }

  .links-show {
    width: 100%;
  }
</style>

<script>
  const menuButton = document.querySelectorAll(".menuButton");
  menuButton?.forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(".links")?.classList.toggle("links-show");
    });
  });
</script>
