---

---

<section>
  <p class="text-2xl w-10/12 m-auto">
    Las <b>tareas de cuidado aparecen como un obstáculo</b> significativo <b>para el ejercicio profesional</b>, con un impacto marcado según 141 encuestadas. 
    Además, se destacan factores personales como la <b>situación económica desfavorable</b> y <b>la dificultad para conciliar responsabilidades laborales y familiares</b> como otras barreras clave en la trayectoria laboral de las mujeres periodistas.
  </p>
</section>

<style></style>
