---

---

<section id="seccionPercepcionesDificultad" class="r-stretch">
  <div id="percepciones-dificultad-container" class="w-10/12 h-full m-auto">
    <div id="graficoPercepcionesDificultad"></div>
  </div>
</section>

<script>
  import { observer } from "../../../../utils/observer";
  import * as echarts from "echarts";

  const chartDom = document.getElementById("graficoPercepcionesDificultad");
  const chart = echarts.init(chartDom);
  const option = {
    tooltip: {},
    title: {
      text: "Percepción sobre la dificultad en conseguir el puesto actual en el periodismo",
      textStyle: {
        fontSize: 40,
        fontWeight: "normal",
        color: "#000",
      },
      left: "center",
    },
    xAxis: {
      data: ["Muy fácil", "Fácil", "Bastante", "Difícil", "Muy difícil"],
      // axisLabel: { rotate: -45 },
    },
    yAxis: {},
    series: [
      {
        type: "bar",
        data: [11, 23, 66, 45, 70],
        color: "#401F71",
      },
    ],
  };

  const resizeChart = () => {
    const section = document.getElementById(
      "percepciones-dificultad-container"
    );
    if (!chartDom) return;
    chartDom.style.width = section?.offsetWidth + "px";
    chartDom.style.height = section?.offsetHeight
      ? section.offsetHeight + "px"
      : "100vh";
    chart.resize();
  };
  const initGraph = () => {
    resizeChart();
    chart.setOption(option);
  };

  window.addEventListener("resize", () => {
    if (chart) {
      resizeChart();
    }
  });

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
</script>
