---

---

<section id="sectionAutores" class="r-stretch">
  <div id="graficoAutores"></div>
</section>
<script>
  import { observer } from "../../../../utils/observer";
  import * as echarts from "echarts";
  const chartDom = document.getElementById("graficoAutores");
  const chart = echarts.init(chartDom);
  const option = {
    legend: {},
    tooltip: {},
    dataset: {
      source: [
        [
          "Autor de la violencia",
          "Psicológica",
          "Física",
          "Económica",
          "Sexual",
          "Laboral",
          "Institucional",
          "En línea",
        ],
        ["Pareja", 19, 4, 10, 2, 4, 3, 5],
        [
          "Varón con jerarquía superior en el medio de comunicación",
          104,
          11,
          95,
          43,
          27,
          82,
          14,
        ],
        [
          "Varón compañero en el medio de comunicación",
          83,
          7,
          32,
          43,
          11,
          42,
          14,
        ],
        ["Varón de otro medio de comunicación", 49, 7, 11, 18, 4, 14, 26],
        ["Otra mujer periodista", 54, 6, 21, 0, 6, 23, 11],
        [
          "Otra mujer que trabaja en los medios de comunicación",
          47,
          6,
          20,
          3,
          7,
          21,
          17,
        ],
        ["Ciudadano/particular", 71, 11, 12, 16, 3, 12, 62],
        ["Funcionario y/o empleado público", 84, 15, 31, 26, 7, 59, 35],
      ],
    },
    title: [
      { text: "Psicológica", left: "50%", top: "10%", textAlign: "center" },
      { text: "Física", left: "75%", top: "10%", textAlign: "center" },
      { text: "Económica", left: "25%", top: "60%", textAlign: "center" },
      { text: "Sexual", left: "25%", top: "35%", textAlign: "center" },
      { text: "Laboral", left: "25%", top: "10%", textAlign: "center" },
      { text: "Institucional", left: "50%", top: "35%", textAlign: "center" },
      { text: "En línea", left: "50%", top: "60%", textAlign: "center" },
    ],
    series: [
      {
        type: "pie",
        radius: "20%",
        center: ["50%", "25%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Psicológica",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["75%", "25%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Física",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["25%", "75%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Económica",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["25%", "50%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Sexual",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["25%", "25%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Laboral",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["50%", "50%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "Institucional",
        },
        label: { show: false },
      },
      {
        type: "pie",
        radius: "20%",
        center: ["50%", "75%"],
        encode: {
          itemName: "Autor de la violencia",
          value: "En línea",
        },
        label: { show: false },
      },
    ],
  };

  const initGraph = () => {
    const section = document.getElementById("sectionAutores");
    chartDom.style.width = section.offsetWidth + "px";
    chartDom.style.height = section.offsetHeight + "px";
    chart.resize();
    chart.setOption(option);
  };

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
</script>
