---
import Questions from "../components/acerca-de/questions.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen bg-gray-100">
    <Questions />
  </main>
</Layout>
