---
import Metodologia from "@/components/metodologia/index.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen bg-gray-100 py-3 md:py-14">
    <Metodologia />
  </main>
</Layout>
