---

---

<div class="md:w-1/2 h-full">
  <div id="mapGraph" style="height:800px;"></div>
</div>

<style></style>

<script>
  import * as echarts from "echarts";
  import argentinaGeoJson from "@/assets/argentina.json";

  // Initialize the echarts instance based on the prepared dom
  let myChart = echarts.init(document.getElementById("mapGraph"));

  echarts.registerMap("argentina", argentinaGeoJson);

  const options = {
    tooltip: {
      trigger: "item",
      formatter: "{b}: {c}", // Nombre de la provincia y el valor asociado
    },
    series: [
      {
        name: "Participantes",
        type: "map",
        map: "argentina", // Nombre del mapa registrado
        itemStyle: {
          areaColor: "#51288E", // Color base de las áreas del mapa
          borderColor: "#fff", // Color de los bordes de las provincias
          borderWidth: 1, // Ancho de los bordes
        },
        emphasis: {
          label: {
            show: false, // Mostrar etiquetas en hover
          },
          itemStyle: {
            areaColor: "#401F71", // Color del área al hacer hover
            borderColor: "#fff", // Color del borde en hover
            borderWidth: 2, // Ancho del borde en hover
          },
        },
        data: [
          { name: "Buenos Aires", value: 21 },
          { name: "Cordoba", value: 22 },
          { name: "Santa Fe", value: 21 },
          { name: "Mendoza", value: 12 },
          { name: "Salta", value: 7 },
          { name: "Tucuman", value: 14 },
          { name: "Entre Rios", value: 4 },
          { name: "Misiones", value: 3 },
          { name: "Corrientes", value: 5 },
          { name: "Formosa", value: 6 },
          { name: "Chaco", value: 6 },
          { name: "San Juan", value: 5 },
          { name: "San Luis", value: 13 },
          { name: "Jujuy", value: 7 },
          { name: "La Rioja", value: 4 },
          { name: "Catamarca", value: 5 },
          { name: "Neuquen", value: 14 },
          { name: "Rio Negro", value: 9 },
          { name: "Chubut", value: 7 },
          { name: "Santa Cruz", value: 6 },
          { name: "Santiago del Estero", value: 3 },
          { name: "Tierra del Fuego", value: 4 },
          { name: "La Pampa", value: 4 },
          { name: "Islas Malvinas", value: 0 },
        ],
      },
    ],
  };

  myChart.setOption(options);
  window.addEventListener("resize", () => {
    myChart.resize();
  });
</script>
