---

---

<div class="md:w-1/2">
  <div class="mt-10 text-center h-full flex flex-col">
    <h4 class="text-4xl mb-5 font-bold">215 periodistas encuestadas</h4>
    <p class="text-lg mdpx-16">
      FOPEA llevó adelante esta investigación federal con periodistas de todo el
      país. Se busca visibilizar las violencias que atraviesan en su labor y
      preguntarnos sobre como la construcción de un entorno más seguro e
      igualitario para el ejercicio del periodismo.
    </p>
    <div class="flex-1 flex flex-col gap-5 mt-4">
      <div
        class="w-full border flex-col lg:flex-row border-primary-500 rounded-xl flex items-center px-3 lg:px-10 h-1/3"
      >
        <div id="barAmbito" class="w-full h-48 lg:h-full lg:w-1/3"></div>
        <p class="w-2/3 p-3 lg:p-10">
          Afirman haber sufrido violencia en el ámbito de la profesión.
        </p>
      </div>
      <div
        class="w-full border flex-col lg:flex-row border-primary-500 rounded-xl flex items-center px-3 lg:px-10 h-1/3"
      >
        <div id="barForma" class="w-full h-48 lg:h-full lg:w-1/3"></div>
        <p class="w-2/3 p-3 lg:p-10">
          Afirman haber sufrido múltiples formas de violencia.
        </p>
      </div>
    </div>
  </div>
</div>

<style></style>

<script>
  import * as echarts from "echarts";
  // Initialize the echarts instance based on the prepared dom
  var ambitoChart = echarts.init(document.getElementById("barAmbito"));
  var formaChart = echarts.init(document.getElementById("barForma"));

  // Registrar el mapa en ECharts
  const dataAmbito = [
    { value: 87, itemStyle: { color: "#401F71" } },
    { value: 12, itemStyle: { color: "#FFAC39" } },
  ];

  const dataforma = [
    { value: 74, itemStyle: { color: "#401F71" } },
    { value: 26, itemStyle: { color: "#FFAC39" } },
  ];

  const formatOptions = (data) => {
    const options = {
      tooltip: {
        trigger: "item",
      },
      legend: {
        top: "5%",
        left: "center",
      },
      series: [
        {
          name: "Access From",
          type: "pie",
          radius: ["60%", "70%"],
          avoidLabelOverlap: false,
          label: {
            show: true, // Mostrar el label en el centro
            position: "center",
            formatter: function (params) {
              // Encontrar el valor más alto
              let maxValue = Math.max(...data.map((item) => item.value)) + "%";
              // Mostrar solo el valor más alto
              return maxValue;
            },
            fontSize: 30,
            fontWeight: "bold",
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 40,
              fontWeight: "bold",
            },
          },
          labelLine: {
            show: false,
          },
          data: dataAmbito,
        },
      ],
    };
    return options;
  };

  ambitoChart.setOption(formatOptions(dataAmbito));
  formaChart.setOption(formatOptions(dataforma));
</script>
