---

---

<div class="w-1/2">
  <div class="mt-10 text-center h-full">
    <h4 class="text-4xl mb-5">Número de mujeres encuestadas</h4>
    <p class="text-lg px-16">
      A contnuación mostraremos algúnos datos recavados.....es un aproximado de
      lo que vamos a mostrar.
    </p>
    <div id="barGraph" style="height:100%;" class="w-full"></div>
  </div>
</div>

<style></style>

<script>
  import * as echarts from "echarts";
  // Initialize the echarts instance based on the prepared dom
  var myChart = echarts.init(document.getElementById("barGraph"));
  // Registrar el mapa en ECharts

  const options = {
    title: {
      text: "24 PROVINCIAS",
      left: "center",
      textStyle: {
        fontSize: 18,
      },
    },
    dataZoom: [
      {
        type: "slider", // vertical scrollbar
        yAxisIndex: 0,
        zoomLock: true,
        width: 20,
        right: 0,
        top: 30,
        bottom: 20,
        showDetail: false,
        backgroundColor: "#D3D3D3",
        fillerColor: "#5A5A5A",
        moveOnMouseMove: true,
        moveOnMouseWheel: true,
        start: 100,
        end: 60,
        brushSelect: false,
      },
    ],
    dataset: {
      source: [
        ["amount", "product"],
        [0, "Islas Malvinas"],
        [3, "Misiones"],
        [3, "Santiago del Estero"],
        [4, "Entre Rios"],
        [4, "La Rioja"],
        [4, "Tierra del Fuego"],
        [4, "La Pampa"],
        [5, "Corrientes"],
        [5, "San Juan"],
        [5, "Catamarca"],
        [6, "Formosa"],
        [6, "Chaco"],
        [6, "Santa Cruz"],
        [7, "Salta"],
        [7, "Jujuy"],
        [7, "Chubut"],
        [9, "Rio Negro"],
        [12, "Mendoza"],
        [13, "San Luis"],
        [14, "Tucuman"],
        [14, "Neuquen"],
        [21, "Buenos Aires"],
        [21, "Santa Fe"],
        [22, "Cordoba"],
      ],
    },
    grid: { containLabel: true },
    xAxis: { name: "amount", show: false },
    yAxis: { type: "category" },

    series: [
      {
        type: "bar",
        itemStyle: {
          color: "#979797", // Color base de las áreas del mapa
          borderColor: "#fff", // Color de los bordes de las provincias
          borderWidth: 1, // Ancho de los bordes
        },
        encode: {
          // Map the "amount" column to X axis.
          x: "amount",
          // Map the "product" column to Y axis
          y: "product",
        },
      },
    ],
  };

  myChart.setOption(options);
</script>
