---
import Carousel from "./carousel.astro";
---

<div class="container mx-auto px-4 py-8">
  <h2 class="sm:text-3xl 1 md:text-4xl my-10">
    Las voces de periodistas argentinas
  </h2>
  <h3>
    Sus experiencias ayudan a conocer el estado de situación de las mujeres
    periodistas en Argentina.
  </h3>
  <Carousel />
</div>

<style></style>
