---
import Carousel from "./capacitaciones-carousel.astro";
---

<div class="container mx-auto px-4 lg:py-8" id="seccion-testimonios">
  <h2 class="text-2xl font-bold md:text-4xl my-4 lg:my-10">
    Capacitación y Herramientas para la Protección de Periodistas ante la violencia de Género en Argentina.
  </h2>
  <h3>
    Cuatro expertas brindaron una capacitación online en el marco de la investigación Periodistas Amenazadas, de FOPEA con apoyo de la UNESCO. 
    Un resumen de las jornadas para informarse y compartir.
  </h3>
  <Carousel />
</div>

<style></style>
