---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const capacitacionesColect = await getCollection("capacitaciones");
const { except } = Astro.props;
const capacitaciones = except
  ? capacitacionesColect.filter((capacitacion) => capacitacion.slug !== except)
  : capacitacionesColect;
---

<div class="flex lg:my-4">
  <!-- Carrusel -->
  <div
    id="carousel"
    class="flex gap-4 overflow-x-auto scroll-smooth px-1 py-10"
  >
    {
      capacitaciones.map((capacitacion, index) => {
        const { slug, data, body } = capacitacion;
        const { title, subtitle } = data;
        return (
          <div class="card-carousel min-w-[48%] lg:min-w-[24%] bg-white rounded-3xl shadow-md overflow-hidden flex flex-col hover:scale-110 transition">
            <div class="flex flex-col p-4 lg:p-6 h-full">
              <h3 class="text-xl lg:text-2xl font-bold text-gray-800">
                {title}
              </h3>
              <p class="text-gray-600 lg:text-lg font-semibold flex-1 my-2">
                {subtitle}
              </p>
              <a
                href={`/capacitacion/${slug}`}
                class="mt-auto text-center bg-red-500 text-white font-semibold py-2 rounded-lg"
              >
                Ver más
              </a>
            </div>
          </div>
        );
      })
    }
  </div>

</div>
<style>
  #carousel {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }

  #carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
  }
</style>
<script>
  //TODO paginator (capaz no)

  const carousel = document.getElementById("carousel");
  const card = document.querySelector<HTMLElement>(".card-carousel");
  const prevBtn = document.getElementById("prevBtn");
  const nextBtn = document.getElementById("nextBtn");

  let scrollAmount = 255;
  if (card) {
    scrollAmount = card.offsetWidth + 16; // Cantidad de píxeles que se moverá el carrusel
  }

  prevBtn?.addEventListener("click", () => {
    carousel?.scrollBy({ left: -scrollAmount, behavior: "smooth" });
  });

  nextBtn?.addEventListener("click", () => {
    carousel?.scrollBy({ left: scrollAmount, behavior: "smooth" });
  });
</script>
