---
import ParticipationLevel from "./charts/participation-level.astro";
import Map from "./charts/map.astro";
---

<div
  class="container mx-auto border-4 pt-10 pb-5 px-6 bg-white rounded-3xl"
  id="seccion-datos"
>
  <h3 class="text-4xl font-bold mb-1">Violencia en datos</h3>
  <p>
    La violencia a las periodistas mujeres es algo que sucede en todo el país.
    Acá dejamos algunos de los datos relevantes según el estudio de casos
    múltiples, para conocer el contexto.
  </p>
  <div class="flex flex-col md:flex-row border rounded-3xl px-4 mt-7">
    <Map />
    <ParticipationLevel />
  </div>
  <a
    href="/periodistas-amenazadas/informe"
    class="bg-secondary-500 hover:bg-secondary-600 text-white font-bold py-2 px-6 rounded-full shadow-lg transition w-full lg:w-2/4 block text-center mx-auto mt-5"
  >
    Ver datos completos
  </a>
</div>

<style></style>
