---
import Carousel from "./voces-carousel.astro";
---

<div class="container mx-auto px-4 lg:py-8" id="seccion-testimonios">
  <h2 class="text-2xl font-bold md:text-4xl my-4 lg:my-10">
    Las voces de periodistas argentinas
  </h2>
  <h3>
    Violencias en primera persona: las historias de periodistas a lo largo de
    Argentina. Se dio opción a las entrevistadas de publicar su testimonio con
    nombre y apellido o preservar su identidad.
  </h3>
  <Carousel />
</div>

<style></style>
