---
import Image from "astro/components/Image.astro";
import silent from "../../../assets/silent.png";
---

<section>
  Caratula principal
  <Image
    src={silent}
    transition:name="informe-image"
    alt="mujer silenciada"
    class="h-1/6"
  />
</section>
