---
import Image from "astro/components/Image.astro";
import silent from "../../../assets/silent.png";
---

<section class="r-stretch">
  <div class="flex flex-col items-center p-4">
    <h2 class="text-5xl">Indice</h2>
    <div class="w-8/12 mx-auto text-left leading-8">
      <ul class="list-disc">
        <li>
          <a href="/periodistas-amenazadas/#/">0. Índice</a>
        </li>
        <li>
          <a href="/periodistas-amenazadas/informe/#/seccionViolencia"
            >1. Violencias a mujeres periodistas en la Argentina</a
          >
          <ul class="dashed px-4">
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/sectionViolenciasViolencia"
                >Violencia sufrida por las encuestadas</a
              >
            </li>
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/sectionViolenciasMomento"
                >Momento de ocurrencia de la violencia</a
              >
            </li>
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/sectionViolenciasAutores"
                >Tipos de violencias</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/periodistas-amenazadas/informe/#/seccionMitigacion"
            >2. Mitigación y protección frente a violencias</a
          >
          <ul class="dashed px-4">
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/seccionTrayectoriasIngresos"
                >Medidas</a
              >
            </li>
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/seccionTrayectoriasDificultad"
                >Grado</a
              >
            </li>
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/seccionTrayectoriasNoticias"
                >Impacto</a
              >
            </li>
            <li>
              <a
                href="/periodistas-amenazadas/informe/#/seccionTrayectoriasCuidado"
                >Reaccion</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/periodistas-amenazadas/informe/#/seccionTrayectorias"
            >3. Trayectorias profesionales. Las mujeres y el ejercicio del periodismo en la Argentina.</a
          >
        </li>
        <li>
          <a href="/periodistas-amenazadas/informe/#/seccionEncuestadas"
            >4. Sobre las periodistas encuestadas</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .dashed {
    list-style-type: "- ";
  }
</style>
