---
import { Image } from "astro:assets";
import Subrayado from "@/assets/subrayado.svg";
---

<section class="r-stretch h-full index-container" id="seccionIndice">
  <div
    class="flex flex-col items-center justify-center p-4 lg:py-10 h-full bg-white bg-opacity-50"
  >
    <h2 class="text-xl lg:text-5xl w-10/12 mx-auto">Índice</h2>
    <Image src={Subrayado} alt="" class="m-auto mt-3 w-1/6" />
    <div
      class="w-8/12 mx-auto text-left leading-8 flex-1 flex flex-col justify-start mt-20"
    >
      <ul class="list-disc text-xs lg:text-lg">
        <li>
          <a
            class="block hover:scale-110 duration-100 origin-left transform font-bold"
            href="/informe#/0"
            >1. Violencias a mujeres periodistas en la Argentina</a
          >
          <ul class="dashed px-4">
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/0/1"
                >Violencia sufrida por las encuestadas</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/0/3"
                >Momento de ocurrencia de la violencia</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/0/5"
                >Tipos de violencias</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="block hover:scale-110 duration-100 origin-left transform font-bold"
            href="/informe#/1"
            >2. Mitigación y protección frente a violencias</a
          >
          <ul class="dashed px-4">
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/1/1">Medidas</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/1/3">Grado</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/1/5">Impacto</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/1/7">Reacción</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="block hover:scale-110 duration-100 origin-left transform font-bold"
            href="/informe#/2"
            >3. Trayectorias profesionales. Las mujeres y el ejercicio del
            periodismo en la Argentina.</a
          >
          <ul class="dashed px-4">
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/2/1">Ingresos</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/2/3">Dificultad</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/2/5">Noticias</a
              >
            </li>
            <li>
              <a
                class="block hover:scale-110 duration-100 origin-left transform"
                href="/informe#/2/7">Cuidado</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="block hover:scale-110 duration-100 origin-left transform font-bold"
            href="/informe#/seccionEncuestadas"
            >4. Sobre las periodistas encuestadas</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .dashed {
    list-style-type: "- ";
  }
  .index-container {
    background: url("/src/assets/crossed-pen.svg");
    background-repeat: no-repeat;
    background-position: 120% 120%;
    background-size: contain;
  }
</style>
