<div class="container mx-auto p-6">
  <h1 class="text-3xl md:text-5xl font-bold mb-10">
    Cómo hicimos esta investigación.
  </h1>
  <p class="mt-2 text-lg md:text-xl">
    Las herramientas de recolección de datos que se utilizaron fueron un
    cuestionario con preguntas cerradas en su mayoría, autoadministrado, y
    entrevistas semiestructuradas en profundidad.
  </p>
  <div
    class="bg-gray-50 mt-4 border border-gray-200 rounded-3xl p-4 pb-10 md:p-20"
  >
    <p class="text-primary-900 font-bold mb-10 md:text-xl leading-8 0">
      En el presente estudio se trabaja con técnicas de investigación
      cuantitativa y cualitativas a fin de indagar sobre las trayectorias
      laborales de las mujeres periodistas en Argentina y las violencias que
      atraviesan en el ejercicio profesional por ser mujeres. <br />
      Se trata de una investigación no experimental transeccional descriptiva. Además,
      dado que no se conoce la población, ya que no existe un registro y/o censo
      que permita identificar la totalidad de mujeres en ejercicio del periodismo
      en el país, la muestra es no probabilística por conveniencia, tratándose de
      un estudio de casos múltiples y, por lo tanto, sus datos no pueden ser generalizados.
      De todas maneras, es posible aplicar el teorema del límite central, al tener
      la muestra más de 100 casos, es decir, que se pueden realizar pruebas estadísticas
      en el análisis. <br />
      Las herramientas de recolección de datos que se utilizaron fueron un cuestionario
      con preguntas cerradas en su mayoría, existiendo escasas preguntas abiertas,
      autoadministrado, y entrevistas semiestructuradas en profundidad. <br />
      Para la elaboración de la muestra a fin de aplicar el cuestionario se llevó
      a cabo un relevamiento de mujeres en ejercicio del periodismo en todo el país,
      confeccionándose una base de datos con 540 casos. Esta base de dato se confeccionó
      mediante el contacto con periodistas de mujeres de distintas provincias del
      país, utilizando entre otra información el registro de periodistas mujeres
      de FOPEA, y otras redes de mujeres periodistas, tales como Colectivo de Periodistas
      Argentina, con la finalidad de contar con la mayor cantidad posible de casos.
      <br />
      Para las entrevistas se seleccionaron a informantes claves por un muestreo
      dirigido en virtud de sus experiencias y vivencias en el ejercicio profesional.
      En ese sentido, se obtuvo en primer lugar el consentimiento informado y luego
      las entrevistas se realizaron bajo un guion semiestructurado. <br />
      El análisis de datos de las preguntas abiertas del cuestionario y de las entrevistas
      se llevó a cabo mediante análisis de contenido y codificación de las principales
      tendencias.  <br />
      Además, a partir de las respuestas del cuestionario se elaboró una base de
      datos en SPSS, y se realizó una análisis estadístico descriptivo y análisis
      inferencial a través de la prueba de Chi cuadrado, a fin de observar la incidencia
      o correlación entre dos variables categóricas.
    </p>
    <div class="text-center">
      <a
        href="/periodistas-amenazadas/"
        class="px-20 border-4 border-primary-900 text-primary-900 py-2 rounded-full text-center font-bold hover:bg-primary-900 hover:text-white transition"
        >Volver a inicio</a
      >
    </div>
  </div>
</div>
