<div class="container mx-auto p-3 md:p-6">
  <h1 class="text-3xl md:text-5xl font-bold mb-10">
    Cómo hicimos esta investigación
  </h1>
  <p class="mt-2 text-lg md:text-xl">
    Las herramientas de recolección de datos que se utilizaron fueron un
    <strong>cuestionario</strong> con preguntas cerradas en su mayoría, autoadministrado,
    y
    <strong> entrevistas </strong> semiestructuradas en profundidad.
  </p>
  <div
    class="bg-gray-50 mt-4 border border-gray-200 rounded-3xl p-4 pb-10 md:p-20"
  >
    <p class="text-primary-900 mb-10 text-sm md:text-xl">
      El trabajo se desarrolló con <strong class="font-bold">
        herramientas de investigación
      </strong> mixtas (cuantitativas y cualitativas) <strong class="font-bold">
        y se trata de un estudio de casos múltiples.</strong
      > En particular, se aplicó una <strong class="font-bold">
        encuesta a 215 mujeres periodistas de todo el país.</strong
      > El cuestionario incluyó preguntas cerradas y abiertas sobre sus trayectorias
      laborales, experiencias de violencias conocidas y/o padecidas, y las mejores
      acciones para su erradicación. También, se realizaron <strong
        class="font-bold"
      >
        entrevistas en profundidad a periodistas seleccionadas
      </strong> por su experiencia y vivencias en la profesión. <br />

      A través de las entrevistas, se pudo obtener información detallada sobre
      las situaciones de violencia y discriminación que enfrentan las mujeres en
      el ejercicio del periodismo, incluyendo ejemplos concretos y vivencias
      personales. Estas entrevistas permitieron explorar las emociones,
      percepciones y reflexiones de las periodistas en relación a las violencias
      sufridas y su impacto.<br />

      Por su parte, los datos de la encuesta se examinaron mediante <strong
        class="font-bold"
      >
        estadística descriptiva e inferencial,</strong
      > mientras que las entrevistas se estudiaron mediante <strong
        >análisis de contenido y codificación de las principales tendencias.</strong
      > Claramente, la combinación de ambos enfoques permitió obtener una visión
      más completa y profunda de la situación de las mujeres periodistas en Argentina,
      sin que los resultados puedan ser generalizados, atento a que no se ha trabajado
      con una muestra representativa.<br />
    </p>
    <h2 class="text-2xl md:text-3xl font-bold mb-10 text-primary-900">
      Equipo de Investigación:
    </h2>
    <p class="text-primary-900 mb-10 text-sm md:text-xl leading-8 0">
      <strong class="font-bold"> Periodistas Amenazados </strong> está compuesto
      por: Judith Calmels (periodista investigadora), Ileana Hotschewer (periodista
      investigadora), Soledad Arreguez (periodista investigadora) Silvia Noviazky
      (periodista investigadora), Mariela Quiroga (periodista investigadora), Verónica
      Luetto (asesoría técnica), Dariana Cedeño (asistente administrativa), Cecilia
      Bazán (coordinación del proyecto).
      <br />
      También colaboraron: Martín del Fabro (asesoría técnica), Lola Vidal (diseño
      de identidad visual), Nela Díaz (diseño gráfico del informe), Joan Lezcano
      (edición de video).
      <br />
      Staff de <strong class="font-bold">FOPEA</strong>: Amelia Corazza
      (Directora ejecutiva de FOPEA), Irene Benito (asesora de nuevos
      proyectos), Sol Clemente (Coordinadora de Comunicación de FOPEA).
    </p>
    <div class="text-center">
      <a
        href="/periodistas-amenazadas/"
        class="px-20 border-4 border-primary-900 text-primary-900 py-2 rounded-full text-center font-bold hover:bg-primary-900 hover:text-white transition"
        >Volver a inicio</a
      >
    </div>
  </div>
</div>
