---
import Navbar from "@/components/layout/navbar.astro";
import Footer from "@/components/layout/footer.astro";
import "@fontsource/montserrat";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/periodistas-amenazadas/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>Periodistas Amenazadas | FOPEA</title>
    <meta name="title" content="Periodistas Amenazadas | FOPEA" />
    <meta name="description" content="FOPEA se propuso la realización de una investigación que revele qué necesidades de protección tienen las periodistas en la Argentina e instale el asunto en la agenda pública. Dirigida por periodistas para periodistas, esta pesquisa inédita reune información cuantitativa y cualitativa que permitirá desarrollar abordajes y herramientas eficaces de defensa y sensibilización por parte de la propia organización; de los medios de comunicación; de otras entidades y del Estado. El objetivo principal del proyecto es identificar los puntos de vulnerabilidad y de indefensión que afectan la labor de las integrantes de las redacciones y, a partir de esos hallazgos, proponer medidas ajustadas a la realidad, que de un modo tangible mejoren la seguridad de las periodistas, y les permitan desenvolver sus carreras en condiciones de igualdad y de justicia." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://periodistasamenazadas.fopea.org/" />
    <meta property="og:title" content="Periodistas Amenazadas | FOPEA" />
    <meta property="og:description" content="FOPEA se propuso la realización de una investigación que revele qué necesidades de protección tienen las periodistas en la Argentina e instale el asunto en la agenda pública. Dirigida por periodistas para periodistas, esta pesquisa inédita reune información cuantitativa y cualitativa que permitirá desarrollar abordajes y herramientas eficaces de defensa y sensibilización por parte de la propia organización; de los medios de comunicación; de otras entidades y del Estado. El objetivo principal del proyecto es identificar los puntos de vulnerabilidad y de indefensión que afectan la labor de las integrantes de las redacciones y, a partir de esos hallazgos, proponer medidas ajustadas a la realidad, que de un modo tangible mejoren la seguridad de las periodistas, y les permitan desenvolver sus carreras en condiciones de igualdad y de justicia." />
    <meta property="og:image" content="https://periodistasamenazadas.fopea.org/logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://periodistasamenazadas.fopea.org/" />
    <meta property="twitter:title" content="Periodistas Amenazadas | FOPEA" />
    <meta property="twitter:description" content="FOPEA se propuso la realización de una investigación que revele qué necesidades de protección tienen las periodistas en la Argentina e instale el asunto en la agenda pública. Dirigida por periodistas para periodistas, esta pesquisa inédita reune información cuantitativa y cualitativa que permitirá desarrollar abordajes y herramientas eficaces de defensa y sensibilización por parte de la propia organización; de los medios de comunicación; de otras entidades y del Estado. El objetivo principal del proyecto es identificar los puntos de vulnerabilidad y de indefensión que afectan la labor de las integrantes de las redacciones y, a partir de esos hallazgos, proponer medidas ajustadas a la realidad, que de un modo tangible mejoren la seguridad de las periodistas, y les permitan desenvolver sus carreras en condiciones de igualdad y de justicia." />
    <meta property="twitter:image" content="https://periodistasamenazadas.fopea.org/logo.png" />


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DVJ8EE12BN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DVJ8EE12BN');
    </script>    
    <!-- Importa los estilos básicos de reveal.js -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
</style>
