---
import "@fontsource/montserrat";
import Navbar from "@/components/layout/navbar.astro";
import NavbarSlide from "@/components/layout/navbar-slide.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/periodistas-amenazadas/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>FOPEA</title>
    <!-- Importa los estilos básicos de reveal.js -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reveal.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/theme/simple.min.css"
    /> -->
  </head>
  <body>
    <NavbarSlide />
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }
  .source {
    position: absolute;
    bottom: 0;
    padding-bottom: 1%;
    padding-left: 10%;
    font-size: 12px;
  }
</style>
